# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.nuxt
dist
.output
.cache

# Package manager files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Test files
tests/
tests-examples/
test-results/
playwright-report/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
